[user]
	name = Scott Webber
	email = batsshadow@gmail.com
[includeIf "gitdir:src/pulse/"]
	path = /Users/scott/src/pulse/.gitconfig
[core]
	autocrlf = input
	safecrlf = true
	pager = less -r
	excludesfile = /Users/scott/.gitignore_global
[color]
	ui = auto
[push]
	default = simple

# alias {{{
[alias]
    st = status
    stat = status

    #cl = clone

    ci = commit
    cm = commit -m
    cma = commit -a -m
    ca = commit --amend
    can = commit --amend --no-edit
    amend = commit --amend
    caa = commit -a --amend -C HEAD
    fe = fetch
    filelog = log -u
    fl = log -u

    ai = add --interactive

    co = checkout
    br = branch
    #"!git branch -ra | grep -v done"
    #bra = branch -ra
    #list commands
    
    lr = "!git --no-pager log --oneline --no-decorate"
    l1 = log -1
    l1c = "!git l1 --color=always | tee /dev/tty | tail -n +5 | pbcopy"
    le = log --oneline --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls1 = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    lds = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lc  = "!f() { git ll "$1"^.."$1"; }; f"
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    #list all aliases
    la = "!git config -l | grep alias | cut -c 7-"
    #d = diff --word-diff
    # d = "!f() { git diff $@ | subl -w; }; f"
    # dc = "!f() { git diff --cached $@ | subl -w; }; f"
    d = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
    ds = "!git d --staged"
    #list modified files in last commit
    dl = "!git ll -1"
    #diff last commit
    # dlc = "!f() { git diff --cached HEAD^ | subl -w; }; f"
    # dr  = "!f() { git diff "$1"^.."$1" | subl -w; }; f"
    # diffr  = "!f() { git diff "$1"^.."$1" | subl -w; }; f"
    # ds = "!f() { git diff --staged | subl -w; }; f"
    #branch = branch -ra

    #reset commands
    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    #rh = reset --hard
    #rh1 = reset HEAD^ --hard
    #rh2 = reset HEAD^^ --hard

    #git svn
    #svnr = svn rebase
    #svnd = svn dcommit
    #svnl = svn log --oneline --show-commit

    #stash
    sl = stash list
    #sa = stash apply
    #ss = stash save

    tagnow = "!git tag -a release_`date -u \"+%F-%H%M\"` -m \"Release tag `date -u \"+%D %R\"` UTC\""

    cp = cherry-pick
    grep = grep -Ii
    gr = grep -Ii
    #grep from root folder
    gra = "!f() { A=$(pwd) && TOPLEVEL=$(git rev-parse --show-toplevel) && cd $TOPLEVEL && git grep --full-name -In $1 | xargs -I{} echo $TOPLEVEL/{} && cd $A; }; f"

    #grep on filename
    f = "!git ls-files | grep -i"

    #rename branch tree to done-
    #done = "!f() { git branch | grep "$1" | cut -c 3- | grep -v done | xargs -I{} git branch -m {} done-{}; }; f"

    cleanup = "!git branch --merged | grep  -v '\\*\\|main\\|develop' | xargs -n 1 git branch -d"

    #assume aliases
    #assume = update-index --assume-unchanged
    #unassume = update-index --no-assume-unchanged
    #show assumed files
    #assumed = "!git ls-files -v | grep ^h | cut -c 3-"
    #unassume all the assumed files
    #unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
    #assumeall = "!git st -s | awk {'print $2'} | xargs git assume"

    lasttag = describe --tags --abbrev=0
    lt = describe --tags --abbrev=0

    #merges
    ours = "!f() { git co --ours $@ && git add $@; }; f"
    theirs = "!f() { git co --theirs $@ && git add $@; }; f"

    # Force-push the current branch to a same-named branch on origin
    push-feature = "!git push -u origin +HEAD"

    # Create a new feature branch based on the latest
    # Must provide the branch name as the first command line parameter
    # Provide the second parameter to use a different upstream branch
    feature = "!f() { git fetch upstream ; git checkout -b $1 --no-track upstream/${2:-main} ; } ; f"

    # Fetch open pull requests as remote tracking branches, handy if you want to take
    # over someone's in-progress work
    fetch-prs = "fetch upstream +refs/pull-requests/*:refs/remotes/upstream/pull-requests/*"

    add-reviewer = "!f() { git config --add stash.reviewer @${1#@} ; } ; f"
    remove-reviewer = "!git config --unset stash.reviewer"
    list-reviewers = "!git config --get-all stash.reviewer"
    create-pull-request = "!f() { stash pull-request ${1:-upstream/develop} $(git config --get-all stash.reviewer) -o ; } ; f"

# }}}
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[url "ssh://git@github.com/"]
	insteadOf = git://github.com/
[init]
	defaultBranch = main
